# HITS
## Ofeensessie 1

Dit is een voorbeeld an Markdown. Dubbele klik om de broncode te zien (en dan "Uitvoeren" om het weer op te laten maken)
bla
bla
bla
- rkejhekh
- ehjkehj

In [1]:
# we importeren altijd eerst de modules die we in ons notebook nodig hebben. 
# in dit geval is dat er maar een:
import pandas as pd

## Beetje testen

In Python is alles een object. Wat *li ks* van een is-gelijk-teken (=) staat is een willekeurig gekozen naam voor een object. Je kunt het ook over een variabele hebben.

Een variabele in Python is dus *niet*, zoals in SPSS, een kolom in een dataset, maar kan prima ook gewoon een enkele waarde bevatten:

In [2]:
a = 5
b = 3
print(a*b)

15

## Beetje spelen met Pandas
Let erop dat het databestand in dezelfde map staat als je notebook, anders moet je het volledige pad aangeven.
We lezen een excelbestand, doen wat transformaties, en schrijven het weer weg naar een ander bestand.

In [3]:
mijndata = pd.read_excel("Alle_4599_chunks_EN_news.xlsx", header=None)

In [4]:
mijndata = mijndata.drop(0, axis=1)

In [5]:
mijndata.columns=['onzetext']

In [6]:
mijndata['kijkeens'] = mijndata['onzetext'].str.upper()

In [7]:
mijndata

,onzetext,kijkeens
0,can be provided at half the cost of competin...,CAN BE PROVIDED AT HALF THE COST OF COMPETIN...
1,Ltd All Rights Reserved Section: NEWS; Pg. ...,LTD ALL RIGHTS RESERVED SECTION: NEWS; PG. ...
2,"costing from œ5,000. Add-ons - at a three-f...","COSTING FROM Œ5,000. ADD-ONS - AT A THREE-F..."
3,Cancer defeated in a pilot program The Sun (...,CANCER DEFEATED IN A PILOT PROGRAM THE SUN (...
4,-up by the company that there was bound to b...,-UP BY THE COMPANY THAT THERE WAS BOUND TO B...
...,...,...
4594,forefront of your mind. I've even been able...,FOREFRONT OF YOUR MIND. I'VE EVEN BEEN ABLE...
4595,"hopeful of raising more funds. ""It is imper...","HOPEFUL OF RAISING MORE FUNDS. ""IT IS IMPER..."
4596,"cancer can affect anyone, of any age with mo...","CANCER CAN AFFECT ANYONE, OF ANY AGE WITH MO..."
4597,best possible chance offered by cutting-edge...,BEST POSSIBLE CHANCE OFFERED BY CUTTING-EDGE...
4598,"offered by cutting-edge œ100,000 trials in A...","OFFERED BY CUTTING-EDGE Œ100,000 TRIALS IN A..."

In [8]:
mijndata.to_excel("kijkeens.xlsx")